div.center {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.bottom_margin {
	margin-bottom:10px;

}

.box_outline {
	border: 1px solid black;
    outline-color:red;
	outline-style: ridge;
}

